div p{
    /* background-color: olive; */
}
.container div p{
    background-color: red;
}
p + div{
    background-color: fuchsia;
}

div + p{
    background-color: green;
}

div ~ p{
    /* background-color: aqua; */
}

h2[title="baslik1"]{
    background-color: teal;
}

p[title="paragraf1"]{
    background-color: greenyellow;
}

h2[title="baslik2"] {
    background-color: darkorange;
}

.out{
    border: 2px solid red;
    width: 8rem;
    height: 8rem;
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    padding-top: 3rem;


}


.out:hover{
    outline: 5px dashed purple;
    outline-offset: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.cw{
    border: 5px solid red;
    width: 20rem;
    margin: 50px auto;
    text-align: center;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    outline: 3px dotted rgb(131, 131, 24);
    outline-offset: 1rem;
}