

.main{
    background-color: greenyellow;
    width: 90%;
    margin: 50px auto;
    position: relative;
}

.box1{
    background-color: rgba(0, 0, 255, 0.811);
    width: 100px;
    height: 100px;
    position: static;
    /* top: 500px; */
}

.box2{
    background-color: rgba(255, 0, 255, 0.822);
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    left: 50px;
    z-index: 2;
}

.icerde{
    background-color: wheat;
    width: 40%;
    height: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.box3{
    background-color: rgba(255, 140, 0, 0.851);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.box4{
    background-color: rgba(255, 255, 0, 0.825);
    width: 100px;
    height: 100px;
    position: fixed;
    top: 300px;
    right: 0;
    
}

.paragraf2{
    background-color: rgba(255, 255, 0, 0.611);
    border-radius: 20px;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 30%;
}

.last{
    width: 200%;
}