*{
    margin: 0;
    padding: 0;
    /* text-align: center; */
    box-sizing: border-box;
}
body{
    background: rgb(154,20,34);
background: linear-gradient(90deg, rgba(154,20,34,1) 0%, rgba(238,216,9,1) 95%);
    /* background-size: cover; */
    }
header{
    text-align: center;
    /* display: block; */
    /* margin: 10px; */
}
h1{
    font-size: 4rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(228, 198, 198);
    font-variant: small-caps;
    text-shadow: 2px 2px 2px darkred;
    letter-spacing: 2px;
}
h2{
    color: rgb(70, 28, 122);
    font-size: 1.5rem;

}
p{
    color: rgb(210, 195, 177);
    font-size: 1.15rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 15px;
    margin-top: 10px;
}
main{
    /* display: block; */
    /* place-items: center; */
    /* align-items: center; */
    
    
}
.box{
    margin: 10px auto;
    padding: 10px;
    /* background: rgb(2,0,36); */
    background: linear-gradient(90deg, rgba(238,216,9,1) 0%, rgba(154,20,34,1) 100%);
    border-radius: 20px;
    width: 85%;
    background-size: contain;
    transition: 2s;
    border: 4px solid darkgoldenrod;


       
}

.box:hover{
    background: linear-gradient(90deg, rgba(126,120,64,1) 0%, rgba(103,15,25,1) 100%);
}
img{
    width: 25%;
    /* height: 200px; */
    float: left;
    margin-right: 10px;
    transition: width 1.3s;
    border-radius: 20px;
    
}

img:hover{
    width: 30%;
    cursor:pointer;
    
}

.box::after{
    content: "";
    clear: both;
    display: block;
}

.buton{
    margin-right: 25px;
    margin-top: 25px;
    background-color: rgb(112, 118, 227);
    width: 7%;
    height: 30px;
    border-radius: 10px;
    float: right;
    transition: all 1.2s;
    
}
.buton:hover{
    background-color: gray;
    height: 50px;
    width: 9%;
    /* transform: matrix(1, -0.3, 0, 1, 0, 0);} */
}
a{
    color: aliceblue;
    text-decoration-line: none;
}