/* style.css */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 40%;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
}
h1,h2,p{
    text-align: center;
}
.guess{
    margin-top: 20px;
    box-shadow:  1px 1px black;
    padding: 5px;
}

