body {
    background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  flex-direction: column;
}
#won,
#lost {
  display: none;
  width: 300px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px;
}

#wonp,
#lostp {
  display: none;
  font-size: 3rem;
  color: darkred;
  outline: 0.5rem inset darkblue; 
 border-radius: 10px;
  outline-offset: 0.5rem ;
 
}

#sayi{
    color: red;
    font-size: 2rem;
    margin: 5px;
    
}

