*{
    margin: 0;
    padding: 0;
}

body{
    border: 2px solid red;
}
.abs{
    background-color: chocolate;
    width: 350px;
    width: 10cm;
    width: 2in;
    /* height: 60%; */
}

.div2{
    background-color: blueviolet;
    width: 50%;
}
.div3{
    background-color: chocolate;
    width: 50%;
}
.div4{
    background-color: lime;
    width: 70vw;
    height: 10vh;
}

.div5{
    font-size: 25px;
}
.div6{
    font-size: 2em;
}
.div7{
    font-size: 2em;
}
.div8{
    font-size: 25px;
}
.div9{
    font-size: 4rem;
}
.div10{
    font-size: 6rem;
}